extends layout

block content
  div(class="scene-container")
    p(class="progress") #{Math.round((count / max) * 100)}%
    img(src="/astronaut.png" class="astro" style=`bottom: 30vh; left: 0vw;` alt="astro")
    script(src="/script.js")