extends layout

block content
  div(class="scene-container")
    p(class="progress") fetching...
    p(class="motif" data-text="you can do it!!") you can do it!!
    img(src="/astronaut-torch.png" class="astro" alt="astro")
    script(src="/script.js")
