extends layout

block content
  div(class="confetti-container")
  div(class="fire-container")
    p(class="success-helper")
      | Congratulations, you guys f**king broke the website.
      br
      | Welcome to the hackathon!